
#city-input {
    margin: 5px 5px 5px 0;
}

.container {
    max-width: 620px !important ;
    border: 1px solid #d2b8d5;
    border-radius: 10px;
    padding: 5px 20px 20px 20px;
    background-color: rgba(191, 196, 245, 0.56);
    box-shadow:3px 2px 5px #8c9a8c;

}

.city-name {
    margin: 14px 14px 15px 6px;
    color: #6d76ab;
    font-weight: bold;
}

.search-btn {
    color: #ffffff;
    border-color: #ffffff;
}

.search-btn:hover {
    color: #fff;
    background-color: #6d76ab;
    border-color: #bfc4f5;
}

.current-btn {
    color: #ffffff;
    border-color: #ffffff;
}

.current-btn:hover {
    color: #fff;
    background-color: #6d76ab;
    border-color: #bfc4f5;
}


.float-right {
    float: right;
    color: #284646;
    margin: 0px 0px 5px 0px;
}

.float-left {
    color: #284646;
    font-weight: bold;
}

.units{
    position: relative;
    font-size: 15px;
    top: -30px;
}


.conditions {
    font-size: 20px;
    color: #616961;
    margin: 20px -10px 0px 6px;
}

.main-temperature {
    font-size: 60px;
    color: #6d76ab;
    margin: 21px 0px 18px 17px;
}

#weather-temp {
    margin: -10px 0px 0px -7px;
}

a {
    text-decoration: none;
    color: #6d76ab;
}

#footer {
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 13px;

}

.active {
    color: black;
    cursor: default;
}

.active:hover{
    text-decoration: none;

}

.btn{
    margin: 6px 0px 5px 2px;
}

canvas {
    margin: 0px 0px -10px 0px;
}

.weather-description {
    color: rgba(0, 0, 0, 0.79);
}